@font-face {
    font-family: myFont;
    src: url(/../sources/fonts/albr55w.ttf);
}

body {
    background-image: url("/../sources/images/backgrounds/01.gif");
    background-size: cover;
}

.card {
    margin: 10px;
}

.thumb {
    height: 170px;
    width: 100%;
    display: block;
}